<a class="btn btn-outline-info float-right" data-toggle="collapse" href="#addSingle" role="button" aria-expanded="false" aria-controls="collapseExample">
    添加一个用户
</a>
<div class="collapse float-right col-sm-12" id="addSingle">
  <div class="card card-body">
      <form id="singlefm" >
            <div class="form-group">
              <label for="usertele">用户手机号:</label>
              <input type="text" class="form-control" id="usertele" name="tele">
              <small id="teleMsg" class="form-text">&nbsp;</small>
            </div>
            <div class="form-group">
                <label for="role">用户权限:</label>
                <select class="form-control" id="role" name="role">
                  <option value="0">用户</option>
                  <option value="1">管理员</option>
                
                </select>
                <small id="codeMsg" class="form-text">&nbsp;</small>
            </div>
            <button id="addSingleBtn" type="button" class="float-right col-sm-2 btn btn-outline-success">添加</button>
      </form>
  </div>
</div>

<a class="btn btn-outline-success float-right" data-toggle="collapse" href="#addBatch" role="button" >
    批量添加用户
</a>
<div class="collapse float-right col-sm-12" id="addBatch">
  <div class="card card-body">
      <form id="batchFm" enctype="multipart/form-data">
            <div class="form-group">
                <div class="custom-file">
                      <label for="userexcel">上传导入模板</label>
                      <input type="file" class="form-control-file" id="userexcel" name="userexcel">
                </div>
            </div>
            <div class="form-row float-right">
                <a href="/administor/download"><button id="downloadBtn" type="button" class="col btn btn-outline-info">下载模板</button></a>
                <button id="addBatchBtn" type="button" class="col btn btn-outline-success">开始导入</button>
            </div>
      </form>
  </div>
</div>

<div>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#用户名</th>
            <th scope="col">#手机号</th>
            <th scope="col">#启用状态</th>
            <th scope="col">#操作</th>
          </tr>
        </thead>
        <tbody>
            {{#each data as |item|}}
              <tr class="userItem">
                <td>{{item.username}}</td>
                <td>{{item.telephone}}</td>
                {{#if status}}
                {{#compare status 0}}
                <td>未启用</td>
                {{/compare}}
                {{#compare status 1}}
                <td>已启用</td>
                {{/compare}}
                {{/if}}
                <td>
                  <a title="详情" href="/administor/information?id={{item.id}}"><i class="fa fa-eye fa-lg"></i></a>
                  <a title="启用" href="/administor/undele?id={{item.id}}"><i class="fa fa-bullhorn fa-lg" aria-hidden="true"></i></a>
                  <a title="停用" href="/administor/dele?id={{item.id}}"><i class="fa fa-ban fa-lg" aria-hidden="true"></i></a>
                </td>
              </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<script type="text/javascript">
    $('.view-tab').removeClass('active');
    $('#student-tab').addClass('active');
</script>